@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand-Regular.ttf) format("truetype");
}

html, body {
    background-color: #654A71;
    font-family: Quicksand;
}

label {
    color: white;
}

.displayMessage {
    height: 2rem;
    text-align: center;
    color: indianred;
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.formValid {
    color: #00E8CC;
}

.fields {
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    box-shadow: 1px 3px 3px 1px black;
}

.bgColor {
    background-color: #191919;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 0px black;
    margin-bottom: 2rem;
}

.titleColorPink {
    color: #9A0034;
}

.titleColorBlue {
    color: #00769B;
}

.navbarColor {
    background-color: #121212;
}

.sendBtn {
    background-color: #9A0034;
    color: white;
    width: 10rem;
}

.sendBtn:hover {
    color: white;
    box-shadow: 1px 1px 15px 0px #C70043;
}

.userInfosList {
    list-style-type: none;
    padding: 1.5rem;
    color: white;
    border-radius: 10px;
}

.navbar-brand:hover {
    color: white !important;
    font-weight: bold;
}

.modal-content {
    background-color: #121212;
}

.modal-body, .modal-footer {
    background-color: #654A71;
}

.cancelBtn {
    background-color: #121212;
}

.cancelBtn:hover {
    box-shadow: 1px 1px 15px 0px #121212;
}